# TUGAS
# Pengenalan Dasar Library Pandas

Kelompok 5

1. Daffa Nurul Aditya Putra Sapturi
2. Hernando Alexander
3. Nugraha Fadila
4. Rafi Ainul Yaqin
5. Ulul Albab

# import libraries

In [ ]:
# Membuat array "df" satu dimensi dengan Pandas
# nilainya [1,3,4,5]

# Membuat dataframe dengan nilai berikut:
# 'Nama' : ['Andi', 'Budi', 'Dodo', 'Ema', 'Kari']
# 'Nilai' : [80, 20, 90, 40, 55]
# 'Kelas' : ['3B', '3A', '3B', '3B', '3A']


# Print seluruh baris pada kolom Nama
# Sortir data berdasarkan Nilai tertinggi ke Nilai terendah

In [ ]:
import pandas as pd

# Membuat array satu dimensi dengan Pandas
df = pd.Series([1, 3, 4, 5], name='MyArray')

# Menampilkan array
print(df)

In [ ]:
# Membuat dataframe
data = {'Nama': ['Andi', 'Budi', 'Dodo', 'Ema', 'Kari'],
        'Nilai': [80, 20, 90, 40, 55],
        'Kelas': ['3B', '3A', '3B', '3B', '3A']}

df = pd.DataFrame(data)

# Print seluruh baris pada kolom Nama
print(df['Nama'])

# Sortir data berdasarkan Nilai tertinggi ke Nilai terendah
df_sorted = df.sort_values(by='Nilai', ascending=False)
print(df_sorted)

# Bermain dengan Real Data
1. Download data dari link berikut: https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries/

2. Save ds_salaries.csv pada Google Drive

In [5]:
# load data ds_salaries.csv dengan nama variabel "df"

In [6]:
# print 5 baris teratas
# print 5 baris terakhir

In [ ]:
# Print nama kolom

In [ ]:
# Tampilkan data baris ke 5-10 pada
# Tampilkan data baris ke 5-10 pada kolom job_title dan company_location

In [ ]:
# Hitung rata-rata salary_in_usd

In [ ]:
# Simpan data baris ke 5-20 ke bentuk .csv dengan nama "sparse.csv"

In [ ]:
# Import library
import pandas as pd

# Load data ds_salaries.csv dengan nama variabel "df"
df = pd.read_csv('/path/to/your/ds_salaries.csv')

# Print 5 baris teratas
print(df.head())

# Print 5 baris terakhir
print(df.tail())

# Print nama kolom
print(df.columns)

# Tampilkan data baris ke 5-10 pada
print(df.iloc[4:9])

# Tampilkan data baris ke 5-10 pada kolom job_title dan company_location
print(df.loc[4:9, ['job_title', 'company_location']])

# Hitung rata-rata salary_in_usd
average_salary = df['salary_in_usd'].mean()
print(f"Rata-rata Salary: {average_salary}")

# Simpan data baris ke 5-20 ke bentuk .csv dengan nama "sparse.csv"
df.iloc[4:19].to_csv('sparse.csv', index=False)